main{
  margin-top: 72px;
}
.project-header{
  height: 280px;
  padding: 24px;
  position: relative;
  border-radius: 4px;
}
.project-header.vidao-messenger{
  background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-full.png") center / cover no-repeat;
}
.project-header.vidao-connect{
  background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-full.png") center / cover no-repeat
}
.project-header.plus-one{
  background: #2979FF url("../img/plusone/plus-one-banner-full.png") center / cover no-repeat;
}
.project-header.best-buy{
  background: #003b64 center / cover no-repeat;
}
.more-work .work-card .overlay,
.project-header .overlay{
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.0));
  transition: .1s all ease-in;
}
.project-header h1{
  margin: 0;
  font-family: 'Zilla Slab', serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
  z-index: 2;
}
.project section h3{
  text-align: left;
}
section p{
  margin: 16px 0;
  min-width: 200px;
  font-size: 18px;
  line-height: 26px;
}
.project-nav-block{
  height: 180px;
  background: #f5f5f7;
  border-radius: 4px;
  margin-right: 16px;
  padding: 16px 24px;
  box-shadow: 0 .5px 0 rgba(0,0,0,.18);
  transition: .24s all ease;
}
.project-nav-block:last-of-type{
  margin-right: 0;
}
.project-nav-block:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,.18);
}
.project-nav-block h4{
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.img-txt-column p{
  min-width: 312px;
  padding-right: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 140px 500px 166px 260px;
}

.txt1 { grid-area: 1 / 1 / 2 / 2; }

.img1 { grid-area: 1 / 2 / 3 / 3; }

.img2 { grid-area: 2 / 1 / 4 / 2; }

.txt2 { grid-area: 3 / 2 / 4 / 3; }


.grid-container img{
  width: 80%;
}

.bb-img-row img{
  max-width: 592px;
  width: 49%;
  min-width: 360px;
  margin-bottom: 16px;
  border: 1px solid #f2f2f4;
  border-radius: 4px;
}
.img-columns > div{
  width: 48%;
  text-align: center;
}
.img-columns > div h4{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
}
.img-columns > div img{
  width: 100%;
  border: 1px solid #f2f2f4;
  border-radius: 4px;
}
.image-row{
  overflow-x: auto;
  margin-bottom: 20px;
}
.image-row img{
  width: 30%;
  min-width: 160px;
  border: 1px solid #e0e0e2;
  border-radius: 4px;
  margin: 0 12px 20px 12px;
}
.image-full img{
  width: 100%;
  min-width: 160px;
  border: 1px solid #e0e0e2;
  border-radius: 4px;
}
section p a{
  text-decoration: underline;
  color: #0070F5!important;
}
.project h3{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.more-work .work-card{
  margin: 0 8px;
}
.more-work .work-card.vidao-messenger{
  background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-medium.png") center / cover no-repeat;
}
.more-work .work-card.vidao-connect{
  background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-medium.png") center / cover no-repeat;
}
.more-work .work-card.plus-one{
  background: #2979FF url("../img/plusone/plus-one-banner-medium.png") center / cover no-repeat;
}
.more-work .work-card-info{
  padding-bottom: 16px;
}

@media (max-width: 1000px) {
  .project-header.vidao-messenger{
    background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-medium.png") center / cover no-repeat;
  }
  .project-header.vidao-connect{
    background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-medium.png") center / cover no-repeat;
  }
  .project-header.plus-one{
    background: #2979FF url("../img/plusone/plus-one-banner-medium.png") center / cover no-repeat;
  }
  .grid-container{
    display: block;
  }
  .grid-container .img1, .grid-container .img2{
    width: 49%;
    display: inline-block;
    text-align: center;
  }
  .grid-container .img1{
    margin: 32px 0;
  }
}
@media (max-width: 540px) {
  .more-work .work-card .overlay,
  .project-header .overlay{
    opacity: 1;
  }
  .project-header.vidao-messenger,
  .more-work .work-card.vidao-messenger{
    background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-small.png") center / cover no-repeat;
  }
  .project-header.vidao-connect,
  .more-work .work-card.vidao-connect{
    background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-small.png") center / cover no-repeat;
  }
  .project-header.plus-one,
  .more-work .work-card.plus-one{
    background: #2979FF url("../img/plusone/plus-one-banner-small.png") center / cover no-repeat;
  }
}
