.project{
  margin-top: 72px;
}
.project-header{
  height: 280px;
  padding: 24px;
  position: relative;
  border-radius: 4px;
}
.project-header.vidao-messenger{
  background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-full.png") center / cover no-repeat;
}
.project-header.vidao-connect{
  background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-full.png") center / cover no-repeat
}
.project-header.plus-one{
  background: #2979FF url("../img/plusone/plus-one-banner-full.png") center / cover no-repeat;
}
.project-header.best-buy{
  background: #39B6D8 url("../img/bestbuy/best-buy-banner-large.jpg") center / cover no-repeat;
}
.project-header .overlay{
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.0));
}
.project-header h1{
  margin: 0;
  font-family: 'Zilla Slab', serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
  z-index: 2;
}
.project section{
  padding-top: 64px;
}
.project section h2{
  font-weight: 500;
  font-size: 32px;
}
section p{
  margin: 16px 0;
  min-width: 200px;
  font-size: 18px;
  line-height: 26px;
}
section p a{
  text-decoration: underline;
  color: #0070F5!important;
}
.project-nav-block{
  height: 180px;
  min-width: 176px;
  background: #f5f5f7;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 16px 24px;
  box-shadow: 0 .5px 0 rgba(0,0,0,.18);
  transition: .24s box-shadow ease;
}
.project-nav-block:last-of-type{
  margin-right: 0;
}
.project-nav-block:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,.18);
}
.project-nav-block img{
  max-width: 360px;
}
a[href^="#pc-gaming"].project-nav-block{
  background: #1c262c;
}
a[href^="#best-buy-mobile-redesign"].project-nav-block{
  background: #003B64;
}
.img-txt-column p{
  min-width: 312px;
  padding-right: 16px;
}
.bb-img-row img{
  max-width: 592px;
  width: 49%;
  min-width: 360px;
  margin-bottom: 16px;
  border: 1px solid #f2f2f4;
  border-radius: 4px;
}
.img-columns > div{
  width: 48%;
  text-align: center;
}
.img-columns > div h4{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
}
.img-columns > div img{
  width: 100%;
  border: 1px solid #f2f2f4;
  border-radius: 4px;
}
.image-row{
  overflow-x: auto;
  margin-bottom: 20px;
}
.image-row img{
  width: 30%;
  min-width: 160px;
  border: 1px solid #e0e0e2;
  border-radius: 4px;
  margin: 0 12px 20px 12px;
}
.image-full img{
  width: 100%;
  min-width: 160px;
  border: 1px solid #e0e0e2;
  border-radius: 4px;
}
.bbym-img{
  height: 200px;
  min-width: 200px;
  max-width: 400px;
  margin: 0 16px 16px 0;
  -webkit-flex: 1;
  flex: 1;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#best-buy-mobile-redesign .bbym-img:first-of-type{
  background-image: url('../img/bestbuy/bbym/bbym-wip-list.jpg');
}
#best-buy-mobile-redesign .bbym-img:nth-of-type(2){
  background-image: url('../img/bestbuy/bbym/bbym-wip-stickies.jpg');
}
#best-buy-mobile-redesign .bbym-img:nth-of-type(3){
  background-image: url('../img/bestbuy/bbym/bbym-wip-whiteboard.jpg');
}
#best-buy-mobile-redesign .bbym-img:nth-of-type(4){
  background-image: url('../img/bestbuy/bbym/bbym-wip-wireframe.jpg');
}
.project h3{
  font-size: 24px;
  font-weight: 500;
}
.project hr{
  width: 85%;
  margin: 64px auto 0 auto;
  border: .5px solid #ccc;
}
.project .results{
  margin-top: 32px;
}
.project .result{
  height: 152px;
  min-width: 196px;
  margin: 0 16px 16px 0;
  padding: 8px 16px;
  text-align: center;
  background: #f2f2f4;
  border-radius: 4px;
}
.project .result-number{
  margin: 0;
  font-size: 48px;
  color: #00c853;
}
.project .result-subhead{
  font-size: 14px;
  color: #4d4d4f;
}

@media (max-width: 1000px) {
  .project-header.vidao-messenger{
    background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-medium.png") center / cover no-repeat;
  }
  .project-header.vidao-connect{
    background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-medium.png") center / cover no-repeat;
  }
  .project-header.plus-one{
    background: #2979FF url("../img/plusone/plus-one-banner-medium.png") center / cover no-repeat;
  }
  .project-header.best-buy{
    background: #39B6D8 url("../img/bestbuy/best-buy-banner.jpg") center / cover no-repeat;
  }
  .grid-container{
    display: block;
  }
  .grid-container .img1, .grid-container .img2{
    width: 49%;
    display: inline-block;
    text-align: center;
  }
  .grid-container .img1{
    margin: 32px 0;
  }
}
@media (max-width: 540px) {
  .project-header .overlay{
    opacity: 1;
  }
  .project-header.vidao-messenger{
    background: #39B6D8 url("../img/vidaomessenger/vidao-messenger-banner-small.png") center / cover no-repeat;
  }
  .project-header.vidao-connect{
    background: #00C853 url("../img/vidaoconnect/vidao-connect-banner-small.png") center / cover no-repeat;
  }
  .project-header.plus-one{
    background: #2979FF url("../img/plusone/plus-one-banner-small.png") center / cover no-repeat;
  }
  .project-nav-block{
    margin-right: 0;
  }
}
